/**
 *
 * STYLES: Blog Index Block lovehealth
 *
 */

.search-index-lovehealth {

	.container-fluid {

		width: 90%;
	}

	#general-blog-page-header {

		h1 {
			color: $white;
		}
	}



	article {

		margin-bottom: 60px;
		position: relative;

		.pr-3 {

				p {

					font-size: 17px;
				}
		}

		.entry-content {

			.featured-image-box {

				img {
					width: 100%;
				}
			}

			.post-comment {

				border-left: 1px solid #707070;
			    padding-left: 30px;
			    margin-left: 60px;

				&::before {

					content: url('../../../assets/img/comment-icon.png');
					display: inline-block;
					vertical-align: middle;
					padding-right: 30px;
				}
			}

			.cat-links {

				line-height: 38px;

				a {

					color: $primary;
					font-style: italic;
					font-weight: 100;
				}
			}

			.entry-title {

				padding-top: 30px;
				padding-bottom: 15px;

				a {

					color: $cg-secondary;
					font-weight: 700;
					font-family: $primary-font;
				}
			}

			.entry-meta {

				.bylines {

					a {

						color: #9B9B9B;
						font-weight: 100;
						font-family: $primary-font;

						border-right: 1px solid #707070 !important;
						padding-right: 30px;
    					margin-right: 60px;
					}
				}

				.posted-on {

					time {

						color: #9B9B9B;
						font-weight: 100;
						font-family: $primary-font;
					}
				}
			}

			.moretag {

				display: flex;
			    /* margin-top: 15px; */
				/*position: absolute;
				top: -73px;*/
				background: #fff;
			    min-width: 120px;
			    text-transform: uppercase;
				font-size: 15px;
				position: absolute;
				margin-top: 9px;
				color: $cg-primary;
				font-weight: 700;
			}
		}
	}
 }
