/**
 * ITEM INDEX
 * 1. ATHLETE & COACH SINGLE PROFILE
 *  1a. ATHLETE PROFILE RIGHT EMAIL BUTTONS
 *  2a. ATHLETE VIEW COUNT BOX ON RIGHT SIDEBAR
 * 2. ATHLETE & COACH INDEX
 * 3. BP GLOBAL SEARCH INDEX
 * 4. BP REGISTRATION PAGE
 */

// REMOVING BP BULLSHIT
@media screen and (max-width: 46.8em) {
  .buddypress-wrap:not(.bp-single-vert-nav) .bp-navs li {
    background: transparent !important;
  }
}

/**
 * GENERAL
 */
.container-fluid {
  padding: 0 !important;
}

body.buddypress {
  .site-content {
    padding-top: 0 !important;
  }
}
/**
 * 1. ATHLETE & COACH SINGLE PROFILE
 */

#buddypress {
  position: relative;

  #change-cover-image-personal-li {
    display: none;
  }

  //TOP BLUE BAR ATHLETE
  .top-page-navbar {
    position: fixed;
    top: 78px;
    width: 100%;
    z-index: 100;
    //TOP MENU PROFILE EDIT
    .top-page-menu {
      // border: 1rem solid red;
      width: 100%;
      background-color: $cg-secondary;
      border-bottom: 2px solid lighten($color: gray, $amount: 35%);

      .menu-title {
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: 1.3rem;
        font-weight: 600;
        color: white;
      }
    }

    @media (max-width: 1072px) {
      display: none;
    }
  }

  //TOP FILTER BAR ATHLETE
  .top-filter-navbar {
    position: fixed;
    top: 145px;
    width: 100%;
    z-index: 1000;
    background-color: white;
    @media (max-width: 1072px) {
      background-color: $cg-secondary;
      top: 78px;
      height: 80px;
    }
    @media (max-width: 889px) {
      height: 125px;
    }
    @media (max-width: 486px) {
      height: 170px;
    }

    // PROFILE EDTI BUTTON
    #edit-athlete-profile-button {
      font-weight: 700;
      i.fas.fa-pen-square {
        font-size: 2rem;
        color: $cg-secondary;
      }
    }

    //TOP MENU PROFILE EDIT
    .top-page-menu {
      // border: 1rem solid red;
      width: 100%;
      // margin-bottom: -1rem;
      border-bottom: 2px solid lighten($color: gray, $amount: 35%);
      @media (max-width: 1072px) {
        border-bottom: none;
        margin-bottom: 0;
      }

      .menu-title {
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: 1.3rem;
        font-weight: 600;
        color: $cg-primary;
        @media (max-width: 1072px) {
          display: none;
        }
      }

      .menu-box {
        margin-top: 1.3rem;
        margin-left: 1rem;
        // border: 4px dotted blue;
        @media (max-width: 1072px) {
          margin-top: 1.8rem;
          margin-left: 0.5rem;
        }

        li.list-inline-item {
          // border: 4px dotted red;
          position: relative;
          .img-icon {
            position: absolute;
            left: -30px;
            top: -10px;
            width: 38px;
          }
          .btn-text {
            // position: absolute;
            padding-left: 1rem;
            font-size: 0.8rem;
            font-weight: 700;
          }
          @media (max-width: 1072px) {
            margin-bottom: 1.5rem;
          }
        }
        // SECTION TARGET BUTTONS
        a {
          padding: 0.75rem 2rem;
          margin-left: 1rem;
          border: 1px solid gray;
          border-radius: 6px;
          color: lighten($color: $cg-primary, $amount: 10%);
          font-size: 0.8rem;
          font-weight: 600;
          // border: 4px dotted red;
          @media (max-width: 1072px) {
            background-color: white;
            margin-left: 0.25rem;
          }
          @media (max-width: 375px) {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }

  //LARGE NEW HEADER
  #large-profile-header {
    height: 200px;
    position: fixed;
    top: 210px;
    width: 100%;
    z-index: 1000;
    // background-color: gray;
    // background: url(/wp-content/uploads/athlete-header.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.6)),
      url('/wp-content/uploads/athlete-header.jpg');
    background-position: center top;
    background-size: 100%;

    .athlete-img-box {
      margin-top: 35px;
      img {
        width: 50% !important;
        border: 4px solid white;
        border-radius: 50%;
        display: block;
        margin: auto;
      }
    }

    .title-box {
      border-bottom: 3px solid white;
      // width: 50%;
      .athlete-title {
        color: white;
        margin: 0;
        padding-top: 3rem;
        padding-bottom: 1rem;
        small {
          font-size: 1.3rem;
          font-weight: 700;
        }
      }
    }

    .athlete-meta {
      color: white;
      font-size: 1.2rem;
      font-weight: 700;

      .athlete-meta-check {
        padding-inline-start: 0px;

        .meta-icon {
          i.fas {
            font-size: 2.5rem;
            padding-top: 1rem;
          }
        }
        .meta-text {
          position: relative;
          .text {
            position: absolute;
            top: -8px;
            left: 10px;
            width: 200px;
          }
        }
      }
      .athlete-meta-eye {
        padding-inline-start: 0px;
        margin-left: 13rem;
        .meta-icon {
          i.fas {
            font-size: 2.75rem;
            padding-top: 1rem;
          }
        }
        .meta-text {
          // border: 1px solid red;
          position: relative;
          .text {
            position: absolute;
            top: -8px;
            left: 10px;
            width: 200px;
          }
        }
      }
    }

    .athlete-committed-box {
      // border: 2px dotted yellow;
      position: relative;
      margin-top: 35px;

      .univ-logo {
        position: absolute;
        z-index: 100;
        left: 40px;
        width: 150px;
        height: 150px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-items: center;

        img {
          width: 75px;
          margin: auto;
        }
      }
      .committed-text {
        .text {
          width: 70%;
          background-color: crimson;
          padding: 1rem 1rem;
          padding-left: 4rem;
          color: white;
          font-weight: 700;
        }
        .univ-name {
          color: white;
          font-weight: 700;
          padding-left: 3rem;
          margin-top: -1rem;
        }
      }
    }
  }

  //TOP BLUE BAR COACH
  .top-page-navbar-coach {
    position: fixed;
    top: 78px;
    width: 100%;
    z-index: 100;
    //TOP MENU PROFILE EDIT
    .top-page-menu {
      // border: 1rem solid red;
      width: 100%;
      background-color: $cg-secondary;
      border-bottom: 2px solid lighten($color: gray, $amount: 35%);

      .menu-title {
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: 1.3rem;
        font-weight: 600;
        color: white;
      }
    }

    @media (max-width: 1072px) {
      display: none;
    }
  }

  //TOP FILTER BAR COACH
  .top-filter-navbar-coach {
    position: fixed;
    top: 145px;
    width: 100%;
    z-index: 100;
    background-color: white;
    @media (max-width: 1072px) {
      background-color: $cg-secondary;
      top: 78px;
      height: 80px;
    }
    @media (max-width: 565px) {
      height: 125px;
    }
    // @media (max-width: 486px) {
    //   height: 170px;
    // }

    //TOP MENU PROFILE EDIT
    .top-page-menu {
      // border: 1rem solid red;
      width: 100%;
      margin-bottom: -1rem;
      border-bottom: 2px solid lighten($color: gray, $amount: 35%);
      @media (max-width: 1072px) {
        border-bottom: none;
        margin-bottom: 0;
      }

      .menu-title {
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: 1.3rem;
        font-weight: 600;
        color: $cg-primary;
        @media (max-width: 1072px) {
          display: none;
        }
      }

      .menu-box {
        margin-top: 1.3rem;
        margin-left: 1rem;
        // border: 4px dotted blue;
        @media (max-width: 1072px) {
          margin-top: 1.8rem;
          margin-left: 0.5rem;
        }

        li.list-inline-item {
          // border: 4px dotted red;
          position: relative;
          .img-icon {
            position: absolute;
            left: -30px;
            top: -10px;
            width: 38px;
          }
          .btn-text {
            // position: absolute;
            padding-left: 1rem;
            font-size: 0.8rem;
            font-weight: 700;
          }
          @media (max-width: 1072px) {
            margin-bottom: 1.5rem;
          }
        }
        // SECTION TARGET BUTTONS
        a {
          padding: 0.75rem 2rem;
          margin-left: 1rem;
          border: 1px solid gray;
          border-radius: 6px;
          color: lighten($color: $cg-primary, $amount: 10%);
          font-size: 0.8rem;
          font-weight: 600;
          // border: 4px dotted red;
          @media (max-width: 1072px) {
            background-color: white;
            margin-left: 0.25rem;
          }
          @media (max-width: 375px) {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }

  // PROFILE BODY
  .bp-wrap {
    margin-top: 170px;
    // border: 4px dotted red;

    #item-body {
      margin-top: 240px;
      // margin-top: 60px;
      position: relative;
      // border: 1rem dotted green;

      //  LEFT COLUMN START

      // ATHLETE BUTTON BOX
      .btn-box {
        // position: fixed;
        // top: 490px;

        .btn-img {
          // border: 3px dotted red;
          width: 80%;
          padding-bottom: 0.5rem;
        }
      }
      // ATHLETE INFO BOX
      .athlete-info-box {
        // position: fixed;
        // top: 690px;
        // width: 23%;
        // @media (max-width: 1199px) {
        //   width: 30%;
        // }
        // @media (max-width: 991px) {
        //   position: relative;
        //   width: 100%;
        //   top: 20px;
        // }
        // @media (max-width: 514px) {
        //   top: 50px;
        // }
      }

      .coach-info-box {
        // border: 4px dotted red;
        position: fixed;
        top: 250px;
        width: 23%;
        @media (max-width: 1199px) {
          width: 30%;
        }
        @media (max-width: 991px) {
          position: relative;
          width: 100%;
          top: -50px;
          // border: 4px dotted red;
        }
        @media (max-width: 565px) {
          top: 0px;
        }
      }

      // #item-header-avatar {
      //   // border: 3px dotted greenyellow;
      //   img.avatar {
      //     border-radius: 50%;
      //     width: 200px;
      //   }
      //   .athlete-title {
      //     font-size: 1.8rem;
      //     text-transform: uppercase !important;
      //     margin: 0;
      //     margin-top: 0.5rem;
      //   }
      // }

      .athlete-meta {
        // border: 3px dotted greenyellow;
        font-weight: 600;
        i.fa-eye {
          font-size: 1.2rem;
          color: deepskyblue;
        }
        i.fa-star {
          font-size: 1.2rem;
          color: orange;
        }
      }
      // AHTLETE PROFILE
      .athlete-bio {
        // border: 3px dotted greenyellow;
        .list-group-item {
          // border: 4px dotted red;
          background-color: lighten($color: #e7e7e7, $amount: 8%);
          border-bottom: 4px solid white;
          border-top: 1px solid white;
          border-right: 1px solid white;
          border-left: 1px solid white;
          // LABELS
          .label {
            // border: 4px dotted red;
            @media (min-width: 992px) and (max-width: 1750px) {
              font-size: 0.8rem;
              font-weight: 800;
            }
          }
        }
      }

      // COACH PROFILE
      .coach-bio {
        // border: 4px dotted red;
        .list-group-item {
          background-color: lighten($color: #e7e7e7, $amount: 8%);
          border-bottom: 4px solid white;
          border-top: 1px solid white;
          border-right: 1px solid white;
          border-left: 1px solid white;

          .values {
            font-weight: 700;
          }
          .label {
            // border: 4px dotted red;
            @media (min-width: 992px) and (max-width: 1750px) {
              font-size: 0.8rem;
              font-weight: 800;
            }
          }
        }

        .bpxcftr-image {
          // border: 3px dotted greenyellow;
          width: 80px;
        }
        .text-only {
          padding-top: 0.5rem;
        }
      }

      .athlete-sports-info {
        // border: 4px dotted blue;
        @media (max-width: 991px) {
          padding-top: 1rem;
          margin-bottom: 2rem;
          // border: 4px dotted blue;
          @include clearfix;
        }
        @media (max-width: 500px) {
          margin-bottom: 4rem;
        }

        h1 {
          color: #024d80;
          font-size: 1.3rem;
          font-weight: 800;
          text-align: center;
          @media (min-width: 992px) and (max-width: 1750px) {
            font-size: 1.5rem;
            font-weight: 800;
          }
        }
        small {
          font-size: 0.8rem;
          font-weight: 600;
          @media (min-width: 992px) and (max-width: 1750px) {
            font-size: 1rem;
            font-weight: 800;
          }
        }
        .sport-name {
          float: left;
          @media (min-width: 992px) and (max-width: 1750px) {
            float: none;
          }
          @media (max-width: 500px) {
            float: none;
          }
        }
        .enrollment-year {
          float: right;
          @media (min-width: 992px) and (max-width: 1750px) {
            float: none;
          }
          @media (max-width: 500px) {
            float: none;
            margin-bottom: 2rem;
            // border: 3px dotted greenyellow;
          }
        }
      }

      //  LEFT COLUMN END

      // CENTER COLUMN START

      .bp-profile {
        // border: 4px dotted red;
        // REMOVING SPORT FIELD
        .editfield.field_49.field_choose-your-sport {
          display: none;
        }

        // PROFILE EDIT MENU
        #subnav {
          border: 2px solid $cg-secondary;
          // margin-top: 2rem;
          background: $cg-primary !important;
          .subnav {
            // border: 4px dotted red;
            li {
              a {
                color: white;
                &:hover {
                  background: lighten(
                    $color: $cg-primary,
                    $amount: 40%
                  ) !important;
                }
              }

              &.current.selected {
                a {
                  color: $cg-secondary;

                  @media (max-width: 748px) {
                    color: white;
                  }
                }
              }
              &.current.selected.hover {
                color: white !important;
              }
            }
          }
        }

        // PROFILE EDIT AREA
        #profile-edit-form {
          // border: 4px dotted blue;
          .button-tabs.button-nav {
            // border: 4px dotted red;
            li {
              border: 1px solid $cg-primary;
              border-radius: 10px;
              padding: 0.35rem 0.75rem;
              margin-bottom: 0.5rem;
            }
            li.current {
              background: $cg-primary !important;
              // color: white;
              a {
                background: $cg-primary !important;
                color: white;
                padding: 0;
              }
            }
          }
        }

        // PROFILE SAVE BUTTON
        #profile-group-edit-submit {
          border: 4px solid $cg-primary;
          padding: 1rem 4rem;
          margin-bottom: 2rem;
          font-weight: 700;
          color: #e7e7e7;
          background: $cg-primary !important;

          &:hover {
            background: lighten($color: $cg-primary, $amount: 10%) !important;
          }
        }
      }

      /**
       * REMOVING THE BP DEFAULT LOOP
       */
      .bp-profile-loop {
        display: none;
      }

      //TAKES CARE OF ALL THE BLOCKS ICON AND FONT SIZE
      .block-header {
        font-size: 2rem;
        .menu-icon {
          width: 32px;
        }
      }

      #top-video-section {
        padding-bottom: 3.5rem;
        border-bottom: 2px solid $cg-primary;

        @media (max-width: 514px) {
          padding-top: 2rem;
        }
      }

      #about-section {
        // border: 0.3rem dotted limegreen;
        padding-bottom: 3.5rem;
        border-bottom: 2px solid $cg-primary;
        color: lighten($color: $cg-primary, $amount: 10%);

        @media (max-width: 514px) {
          padding-top: 2rem;
        }

        .block-header {
          font-size: 2rem;
          text-transform: capitalize;

          #the-name {
            text-transform: capitalize !important;
            // border: 1px dotted red;
          }
        }

        .text-content {
          color: lighten($color: $cg-primary, $amount: 10%);
        }
      }

      #sports-stats-section {
        // border: 0.3rem dotted sienna;
        padding-bottom: 2rem;
        border-bottom: 2px solid $cg-primary;
        color: lighten($color: $cg-primary, $amount: 10%);

        @media (max-width: 514px) {
          padding-top: 2rem;
        }

        .block-header {
          font-size: 2rem;
          i.fa-trophy {
            color: lighten($color: $cg-primary, $amount: 20%);
          }
        }
        .text-content {
          color: lighten($color: $cg-primary, $amount: 10%) !important;
        }
      }

      #academics-section {
        // border: 0.3rem dotted cyan;
        padding-bottom: 2rem;
        border-bottom: 2px solid $cg-primary;

        @media (max-width: 514px) {
          padding-top: 2rem;
        }

        .block-header {
          font-size: 2rem;
          i {
            color: lighten($color: $cg-primary, $amount: 20%);
          }
        }
        .text-content {
          color: lighten($color: $cg-primary, $amount: 10%);
          font-weight: 600;
        }
        .school-box {
          background-color: lighten($color: #e7e7e7, $amount: 5%);

          .school-name {
            font-weight: 700;
          }
        }
        .test-score-box {
          .test-score-title {
            font-size: 1.7rem;
          }
        }
      }

      #instagram-section {
        // border: 0.3rem dotted goldenrod;
        padding-bottom: 2rem;
        border-bottom: 2px solid $cg-primary;

        @media (max-width: 514px) {
          padding-top: 2rem;
        }

        .block-header {
          font-size: 2rem;
          i.fa-instagram {
            color: lighten($color: $cg-primary, $amount: 20%);
          }
        }
        .text-content {
          color: lighten($color: $cg-primary, $amount: 10%);
        }
      }

      #interview-section {
        // border: 0.3rem dotted steelblue;
        padding-bottom: 2rem;
        border-bottom: 2px solid $cg-primary;
        color: lighten($color: $cg-primary, $amount: 10%);

        @media (max-width: 514px) {
          padding-top: 2rem;
        }

        .block-header {
          font-size: 2rem;
          i.fa-comments {
            color: lighten($color: $cg-primary, $amount: 20%);
          }
        }
        .text-content {
          color: lighten($color: $cg-primary, $amount: 10%);
        }
      }

      // CENTER COLUMN END

      // RIGHT COLUMN START
      .sidebar-col {
        background-color: white;
        @media (max-width: 1199px) {
          margin-top: 1rem;
        }
      }

      // RIGHT COLUMN END
    }
  }

  // 1a. ATHLETE PROFILE RIGHT EMAIL BUTTONS
  #athlete-right-email-button {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cf0404+0,ff3019+100 */
    background: #cf0404; /* Old browsers */
    background: -moz-linear-gradient(
      left,
      #cf0404 0%,
      #ff3019 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      #cf0404 0%,
      #ff3019 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      #cf0404 0%,
      #ff3019 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf0404', endColorstr='#ff3019',GradientType=1 ); /* IE6-9 */

    .btn-image {
      width: 60px;
      border: 1px solid red;
    }
    .btn-text-holder {
      border: 1px solid red;
      .btn-text {
        font-size: 1rem;
        font-weight: 700;
        color: white;
        padding-top: 0.5rem;
        padding-left: 5.5rem;
      }
    }
  }

  #athlete-right-search-athlete-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cf0404+0,ff3019+100 */
    background: $cg-primary; /* Old browsers */
    background: -moz-linear-gradient(
      left,
      #035083 0%,
      #0574b8 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      #035083 0%,
      #0574b8 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      #035083 0%,
      #0574b8 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#035083', endColorstr='#0574b8',GradientType=1 ); /* IE6-9 */

    .btn-image {
      width: 60px;
      border: 1px solid #035083;
    }
    .btn-text-holder {
      border: 1px solid transparent;
      .btn-text {
        font-size: 1rem;
        font-weight: 700;
        color: white;
        padding-top: 0.5rem;
        padding-left: 5.5rem;
      }
    }
  }
  // 2a. ATHLETE VIEW COUNT BOX ON RIGHT SIDEBAR
  #athlete-view-count-box {
    // border: 4px dotted red;
    .view-count-title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-top: 2rem;
      margin-bottom: 0;
    }

    margin-bottom: 2rem;
    .box-content {
      // border: 4px dotted blue;
      box-shadow: 1px 1px 5px gray;
      padding: 0;
      margin: 0;
      margin-bottom: 1rem;

      .versity-logo {
        img {
          width: 80px;
          margin-top: 1rem;
        }
      }

      .text-content {
        padding: 0;
        margin: 0;

        .icon-text-box {
          background-color: darken($color: #4b5ec1, $amount: 10%);
          border: 1px solid darken($color: #4b5ec1, $amount: 10%);
          .icon-text {
            color: white;
            text-align: center;
            font-size: 1rem;
            font-weight: 700;
          }
        }

        .text-only-box {
          border: 1px solid #e7e7e7;
          background-color: #e7e7e7;
          .text-only {
            text-align: center;
            font-size: 0.8rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}

/**
 * 2. ATHLETE & COACH INDEX
 */
#athlete-index {
  // border: 4px dotted pink;
  position: relative;

  .athlete-index-committed-box {
    // border: 2px dotted yellow;
    position: relative;
    margin-top: -100px;

    .univ-logo {
      position: absolute;
      z-index: 100;
      left: 20px;
      top: 5px;
      width: 75px;
      height: 75px;
      background-color: white;
      // border: 1px solid black;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-items: center;

      img {
        width: 50px;
        margin: auto;
      }
    }
    .committed-text {
      .text {
        width: 90%;
        // border: 1px solid black;
        background-color: crimson;
        padding: 1rem 1rem;
        padding-left: 2rem;
        color: white;
        font-weight: 700;
        font-size: 1rem;
      }
    }
  }

  // SIDEBAR
  .sidebar-container {
    // border: 1rem dotted red;
    @media (max-width: 991px) {
      padding-left: 1rem;
      // border: 1rem dotted red;
    }
  }

  // ANIMATION SPIN
  // .spin {
  //   animation-name: spin;
  //   animation-duration: 320ms;
  //   animation-iteration-count: infinite;
  //   animation-timing-function: linear;
  // }
  #ath-load-more-btn {
    // border: 3px dotted red;
    cursor: pointer;

    &.loading {
      cursor: default;

      .asm-loading {
        i {
          animation-name: spin;
          animation-duration: 320ms;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
      }
    }
  }

  .top-blue-bar {
    // border: 4px dotted pink;
    position: fixed;
    top: 65px;
    background-color: $cg-secondary;
    width: 100%;
    height: 80px;
    z-index: 100;

    @media (max-width: 699px) {
      display: none;
    }

    .subnav-search-asm,
    .subnav-filter-asm {
      .nav-title {
        margin-top: 0.8rem;
      }
    }

    .bp-dir-search-form {
      // border: 1rem solid red;
      margin-top: 0.7rem;
      background-color: #e7e7e7;
      #dir-members-search {
        background-color: #e7e7e7;
        outline: lighten($color: blue, $amount: 10%);
      }
    }

    #members-order-select {
      background-color: #e7e7e7;
      margin-top: 0.5rem;
    }
  }

  //TOP FILTER BAR
  .top-filter-navbar-index {
    // border: 1rem dotted red;
    position: fixed;
    top: 145px;
    width: 100%;
    z-index: 100;
    background-color: white;
    @media (max-width: 699px) {
      top: 75px;
    }

    //TOP MENU PROFILE EDIT
    .top-page-menu {
      // border: 1rem solid red;
      width: 100%;
      margin-bottom: -1rem;
      border-bottom: 2px solid lighten($color: gray, $amount: 35%);
      background-color: white;

      @media (max-width: 1450px) {
        .menu-title {
          display: none;
        }
      }
      @media (max-width: 950px) {
        border-bottom: none;
        background: white;
        padding-bottom: 1.5rem;
      }
      @media (max-width: 699px) {
        background-color: $cg-secondary !important;
      }
      @media (max-width: 673px) {
        padding-bottom: 1rem;
      }
      @media (max-width: 360px) {
        padding-right: 1rem;
        // margin-left: 1rem;
      }

      .menu-title {
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: 1.3rem;
        font-weight: 600;
        color: $cg-primary;
      }

      .menu-box {
        margin-top: 1.3rem;
        margin-left: 1rem;
        // border: 4px dotted blue;
        margin-bottom: -0.5rem;
        @media (max-width: 1306px) {
          margin-bottom: 1rem;
        }
        @media (max-width: 934px) {
          text-align: center;
          margin-bottom: 0rem;
          padding-right: 2rem;
        }
        @media (max-width: 767px) {
          // border: 4px dotted blue;
          padding-right: 2rem;
        }

        .select-filter {
          background-color: white;
          border: 1px solid gray;
          border-radius: 6px;
          padding: 0.5rem;
          margin-bottom: 1rem;
          color: lighten($color: $cg-primary, $amount: 10%);
          font-size: 0.8rem;
          font-weight: 600;
          text-transform: uppercase;
          @media (max-width: 1170px) {
            font-size: 0.5rem;
            font-weight: 700;
          }
        }

        a.moose-item {
          background-color: whitesmoke;
          padding: 0.5rem 2rem;
          margin-right: 0.5rem;
          margin-top: 2rem;
          border: 1px solid gray;
          border-radius: 6px;
          color: lighten($color: $cg-primary, $amount: 10%);
          font-size: 0.8rem;
          font-weight: 600;

          @media (max-width: 1170px) {
            font-size: 0.5rem;
            font-weight: 700;
          }
        }
      }
    }
  }

  //TOP ADVABCED FILTER BAR
  #top-advanced-filter {
    // border: 1rem dotted red;
    position: fixed;
    top: 75px;
    width: 100%;
    height: 140px;
    z-index: 100;
    background-color: white;
    // background-color: $cg-secondary;

    //ADVANCE RESET BUTTON
    #ath-adv-filter-reset {
      background-color: white;
    }

    //TOP MENU PROFILE EDIT
    .top-page-menu {
      // border: 1rem solid red;
      width: 100%;
      margin-bottom: -1rem;
      // border-bottom: 2px solid lighten($color: gray, $amount: 35%);

      .top-row {
        background-color: $cg-secondary;
        border-bottom: $cg-secondary;
      }
      .bottom-row {
        background-color: white;
        border-bottom: 2px solid #e7e7e7;
        .sport-title {
          font-size: 1rem;
        }
      }

      .menu-title {
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: 1.3rem;
        font-weight: 600;
        // color: $cg-primary;
        @media (max-width: 767px) {
          display: none;
        }
      }

      .menu-box {
        margin-top: 1.3rem;
        margin-left: 1rem;

        .select-filter {
          background-color: white;
          border: 1px solid gray;
          border-radius: 6px;
          padding: 0.5rem;
          margin-bottom: 1rem;
          color: lighten($color: $cg-primary, $amount: 10%);
          font-size: 0.8rem;
          font-weight: 600;
          text-transform: uppercase;

          @media (max-width: 1170px) {
            font-size: 0.5rem;
            font-weight: 700;
          }
          // @media (max-width: 400px) {
          //   font-size: 0.5rem;
          //   font-weight: 700;
          // }
        }

        a {
          padding: 0.5rem 2rem;
          // margin-left: 1rem;
          border: 1px solid gray;
          border-radius: 6px;
          color: lighten($color: $cg-primary, $amount: 10%);
          font-size: 0.8rem;
          font-weight: 600;

          @media (max-width: 1170px) {
            font-size: 0.5rem;
            font-weight: 700;
          }
        }
      }
    }
  }

  // MAIN PAGE CONTENT
  .asm-index-page-content {
    // border: 1rem dotted red;
    margin-top: 65px;
    position: relative;

    .no-data-found {
      position: absolute;
      // border: 3px dotted pink;
      left: 20%;
      top: 90px;
      background-color: white;

      .no-data-title {
        font-size: 1.2rem;
        padding-top: 2rem;
      }

      @media (max-width: 1220px) {
        left: 20%;
        top: 100px;
        .no-data-title {
          font-size: 0.9rem;
        }
      }
      @media (max-width: 800px) {
        left: 10%;
        top: 100px;
        .no-data-title {
          font-size: 0.8rem;
          font-weight: 800;
        }
      }
      @media (max-width: 600px) {
        left: 10%;
        top: 100px;
        height: 300px;
        .no-data-title {
          font-size: 0.8rem;
          font-weight: 800;
          width: 80%;
        }
      }
    }

    .bp-feedback.bp-messages.info {
      margin-bottom: 1rem;
    }
  }

  #athlete-index-container {
    // border: 4px solid blue;
    padding: 0rem 5rem;
    .bp-pagination {
      .pag-data {
        font-size: 0.8rem;
        font-weight: 600;
        color: $cg-primary;
      }
    }
    @media (max-width: 1475px) {
      padding: 1rem;
    }
    @media (max-width: 593px) {
      margin-top: 2rem;
    }
    @media (max-width: 400px) {
      font-size: 0.5rem;
      font-weight: 700;
    }

    .bp-list > li {
      border-bottom: 0 !important;
    }

    .item-entry-asm {
      background-color: white;
      margin-bottom: 1rem;

      .list-wrap-asm {
        border: 1px solid #e3e3e3;
        margin-left: 15px;
        &:hover {
          box-shadow: 2px 2px 12px lighten($color: gray, $amount: 15%);
        }
      }

      @media (max-width: 400px) {
        box-shadow: none;
        border-bottom: 3px solid #e3e3e3;

        .col-12 {
          padding-right: 0 !important;
          padding-left: 0 !important;
        }
      }

      .item-avatar-asm {
        // padding-left: 0.5rem;
        width: 250px;
        margin-left: -15px !important;

        @media (max-width: 767px) {
          width: 100% !important;
          padding-top: 1rem;
          margin-left: 0 !important;
          img {
            border-radius: 20px;
            display: block;
            margin: auto;
          }
        }
      }
    }

    .bp-pagination {
      // border: 1rem dotted red;
      padding-left: 1rem;

      .bp-pagination-links.top {
        display: none;
      }
    }

    .item-asm {
      // margin-bottom: 1rem;
      // border: 3px dotted red;
      @media (max-width: 1250px) {
        margin-left: 4rem;
      }
      @media (max-width: 991px) {
        margin-left: 0.25rem;
      }
      @media (max-width: 940px) {
        margin-left: 2rem;
      }
      @media (max-width: 830px) {
        margin-left: 3rem;
      }
      @media (max-width: 767px) {
        margin-left: 0rem;
        // border: 1px solid blue;
        text-align: center;
        .item-block-asm {
          margin-top: 0;
        }
      }

      .status-bar {
        // border: 3px dotted blue;
        padding-right: 2rem;
        margin-top: -2.5rem;

        @media (max-width: 767px) {
          text-align: center !important;
          margin-top: 1rem;
          // padding-bottom: 1rem;
          // border: 3px dotted blue;
          float: none !important;
        }

        .available-status {
          font-size: 0.8rem;
          font-weight: 600;
          text-transform: uppercase;

          .available {
            color: darken($color: Chartreuse, $amount: 12%);
          }
          .committed {
            color: red;
          }
        }
      }

      .item-block-asm {
        // border: 3px dotted red;
        padding-left: 1.5rem;
        margin-top: 3rem;

        @media (max-width: 767px) {
          margin-top: 0;
          padding-bottom: 2rem;
        }

        .member-name {
          // border: 3px dotted red;
          font-weight: 600;
          font-size: 1.5rem;
          a {
            color: $cg-primary;
          }
          small {
            font-size: 1rem;
            font-weight: 700;
          }
        }

        .info-bar {
          // border: 3px dotted red;
          .list-inline-item {
            font-size: 1rem;
            font-weight: 700;
            color: lighten($color: $cg-primary, $amount: 10%);

            @media (min-width: 768px) and (max-width: 1150px) {
              font-size: 0.75rem;
              // border: 2px dotted blue;
              .fas {
                font-size: 1rem !important;
              }
            }
            @media (max-width: 400px) {
              font-size: 0.75rem;
              // border: 2px dotted blue;
              .fas {
                font-size: 1rem !important;
              }
            }

            .fas {
              // border: 3px dotted red;
              color: lighten($color: $cg-primary, $amount: 35%);
            }
            .fas.fa-eye {
              font-size: 1.3rem;
            }
            .fas.fa-globe {
              font-size: 1.2rem;
            }

            .verified-status {
              padding-right: 1rem;
              // border: 2px dotted yellowgreen;

              .fa-check-circle {
                color: lighten($color: $cg-primary, $amount: 25%);
                font-size: 1.2rem;
                padding-right: 0.5rem;
              }
              .fa-times-circle {
                color: red;
                font-size: 1.2rem;
                padding-right: 0.5rem;
              }
            }
          }
        }

        .text-content {
          font-size: 0.9rem;
          padding-right: 2rem;
          color: $cg-primary;

          .readmore {
            // float: right;
            a {
              font-size: 1rem;
              font-weight: 600;
              color: lighten($color: $cg-primary, $amount: 0%);
            }

            @media (min-width: 1800px) {
              display: block;
              clear: both;
              margin-top: 1.5rem;
            }
            @media (max-width: 768px) and (min-width: 1800px) {
              display: block;
              clear: both;
              margin-top: 1.5rem;
            }
          }
        }
      }
    }
  }
}

/**
 * 3. BP GLOBAL SEARCH INDEX
 */
#buddypress {
  .bboss_search_page {
    position: relative;

    .search-menu-container {
      // border: 4px dotted pink;
      position: fixed;
      top: 65px;
      background-color: $cg-secondary;
      width: 100%;
      height: 82px;
      z-index: 100;

      .bboss_search_filters_wrapper {
        // border: 1rem dotted yellow;
        @media (max-width: 748px) {
          // border: 1rem dotted yellow;
          width: 100%;
        }
        .search_filters {
          margin-top: 2rem;
          margin-left: 1rem;
          @media (max-width: 748px) {
            // border: 1rem dotted yellow;
            margin-left: 0;
            .posts {
              width: 100%;
              margin-top: 1rem;
              background: white !important;
              // border: 5px dotted yellow;
            }
            .members {
              width: 100%;
              border: 1px solid #e7e7e7;
              background: white !important;
            }
          }
        }

        ul {
          li {
            a {
              color: lighten($color: $cg-primary, $amount: 30%);
            }
          }

          li.active {
            a {
              background: lighten($color: #e6e6e6, $amount: 0%);
            }
          }
        }
      }

      .bboss_search_form_wrapper {
        // width: 500px;
        display: none;
        .search-form {
          margin-top: -1.5rem;
          margin-right: 1rem;
          width: 350px !important;
          .search-field {
            // border: 5px dotted limegreen;
            width: 350px !important;
          }
          .search-submit {
            border: 5px dotted red;
            display: none;
          }
        }
      }
    }
  }

  #athlete-index-container {
    // border: 4px dotted hotpink;
    // margin-top: -2.5rem;
    .sidebar-holder {
      padding-left: 1rem;
    }
  }

  /**
   * Global Search Member
   */
  .search_results {
    // PAGINATION AT THE BOTTOM
    .pagination.navigation {
      // box-shadow: 2px 2px 6px #e7e7e7;
      .pagination-links {
        text-align: center;
        // border: 1px dotted red;
        display: block;
        margin: 0 auto;
        .page-numbers {
          font-size: 1.5rem;
          margin-right: 1rem;
        }
        .page-numbers.current {
          padding: 0.5rem;
          background-color: #e7e7e7;
        }
      }
    }
    // MEMBERS LIST
    #members-stream {
      .item-entry-asm {
        box-shadow: 2px 2px 6px #e7e7e7;

        @media (max-width: 767px) {
          box-shadow: none;
          border-bottom: 3px solid #e7e7e7;
        }

        .item-avatar-asm {
          margin-bottom: -1.5rem;
          margin-left: 1rem;
          // border: 3px dotted red;
          img {
            width: 100% !important;
            height: auto !important;
            @media (max-width: 767px) {
              width: 80% !important;
              margin: 0 auto;
            }
          }
        }
        .item-asm {
          padding-left: 2rem;
          .item-block-asm {
            .member-name {
              font-weight: 600;
              a {
                font-size: 1.5rem;
                color: $cg-primary;
              }
              @media (max-width: 767px) {
                text-align: center;
              }
            }

            .info-bar {
              // border: 3px dotted red;
              .list-inline-item {
                font-size: 1rem;
                font-weight: 700;
                color: lighten($color: $cg-primary, $amount: 10%);
              }
              @media (max-width: 767px) {
                text-align: center;
              }
            }

            .text-content {
              padding-right: 2rem;
              color: $cg-primary;

              .readmore {
                a {
                  color: lighten($color: $cg-primary, $amount: 20%);
                }
              }
            }
          }
        }
      }
    }
  }

  /**
   * Global Search Posts
   */
  .results-group-title {
    display: none;
  }

  .bboss_search_item.bboss_search_item_post {
    // border: 1rem dotted red;
    box-shadow: 2px 2px 6px #e7e7e7;
    margin-left: 2rem;
    margin-right: 1rem;

    .entry-title {
      padding: 0 2rem;
      // border: 1rem dotted red;

      a {
        color: $cg-primary;

        &:hover {
          color: lighten($color: $cg-primary, $amount: 10%);
        }
      }
    }

    .entry-content {
      padding: 0 2rem;
      // border: 1rem dotted red;

      a.moretag {
        color: lighten($color: $cg-primary, $amount: 20%);

        &:hover {
          color: lighten($color: $cg-primary, $amount: 30%);
        }
      }
    }
  }
}

/**
 * 4. BP REGISTRATION PAGE
 */

#asm-registration-pg {
  // border: 1rem dotted red;
  margin-top: -4.2rem;
  padding: 5rem;
  background: url('/wp-content/uploads/Group-236.png');

  #register-page {
    // border: 1rem dotted dodgerblue;
    border-radius: 30px;
    padding: 2rem;
    background-color: rgba($color: #e7e7e7, $alpha: 0.9);
    // background-color: lighten($color: #e7e7e7, $amount: 0);

    .layout-wrap {
      // border: 1rem dotted dodgerblue;
      .description {
        padding: 1.5rem;
        border-radius: 20px;
      }
    }

    #submit {
      background-color: lighten($color: $cg-primary, $amount: 10%);
      color: white;
      padding: 1rem 2rem;
      border-radius: 30px;
    }
  }
}

.buddypress-wrap .standard-form input[required]:invalid,
.buddypress-wrap .standard-form select[required]:invalid,
.buddypress-wrap .standard-form textarea[required]:invalid {
  border-color: transparent !important;
}
