/**
 *
 * lovehealth Styles for 404 Error Page
 *
 */

#lovehealth-404 {

	.page-content {

		height: 767px;
		max-width: 70%;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media (max-width: 991px) {

			max-width: 50%;
		}

		@media (max-width: 767px) {

			max-width: 70%;
			padding-top: 0px;
			padding: 15px 15px 30px 15px;
		}

		@media (max-width: 360px) {

			max-width: 100%;
		}

		h1 {

			font-size: 10rem;
			font-weight: 700;

			a {
				color: $cg-accent !important;
			}
		}

		h3 {

			font-size: 2.5rem;
			color: #000000;
			font-weight: 700;
			font-family: $secondary-font;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-bottom: 30px;
			margin-top: 60px;

			@media (max-width: 767px) {

				font-size: 1.5rem;
			}
		}

		h6 {

			font-size: 1.5rem;
			color: #3B3B3B;
			font-weight: 400;
			line-height: 35px;

			@media (max-width: 767px) {

				font-size: 1rem;
				line-height: 25px;
			}
		}

		.button-actions {

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			@media (max-width: 767px) {

				flex-direction: column;
			}

			a {

				background-color: transparent;
				color: $cg-button;
				border: 1px solid $cg-button;
				font-size: 1.5rem;
				font-weight: 500;
				margin-top: 30px !important;
				display: block;
				min-width: 300px;
				padding: 15px 0;

				&:not(:first-child) {

					margin-left: 15px;

					@media (max-width: 767px) {

						margin-left: 0px !important;
					}
				}

				&.button-home {

					background-color: $cg-button !important;
					color: $white !important;
				}
			}
		}
	}
}
