/**
 *
 * STYLE: Single University Post ASM
 *
 */

.single-post-asm {
  #general-blog-page-header {
    position: fixed;
    top: 66px;
    z-index: 100;
    width: 100vw;
    height: 65px;
    background-color: $cg-secondary;
    background-size: cover;
    background-position: top center;
    margin-bottom: 30px;

    .top-page-menu {
      .menu-title {
        padding-right: 2rem;
        padding-left: 4rem;
        padding-top: 1.5rem;
        font-size: 1.4rem;
        font-weight: 600;
        color: white;
      }
    }

    .menu-box {
      margin-top: 1.3rem;

      #menu-post-category-filter {
        list-style-type: none;
        list-style: none;
        list-style-image: none;

        .menu-item {
          display: inline-block;
        }
      }

      #menu-university-menu {
        list-style-type: none;
        list-style: none;
        list-style-image: none;

        .menu-item {
          display: inline-block;
        }
      }

      a {
        padding: 0.5rem 2rem;
        margin-left: 1rem;
        border: 1px solid gray;
        border-radius: 6px;
        background-color: #e3e3e3;
        color: lighten($color: $cg-primary, $amount: 10%);
        font-size: 1.1rem;

        i {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

.univ-single-asm {
  margin-bottom: 60px;
  margin-top: 180px;
  position: relative;
  // border: 5px dotted red;

  @media (max-width: 500px) {
    margin-top: 150px;
  }

  .featured-img-holder {
    img {
      width: 100%;
      // border-radius: 20px;
    }
  }

  .container-fluid {
    width: 90%;
    margin: auto;
    // margin-top: 180px;
  }

  .entry-content {
    // border: 5px dotted red;
    .univ-header {
      padding-bottom: 2rem;

      @media (max-width: 767px) {
        text-align: center;
      }

      .entry-title {
        // border: 5px dotted blue;
        margin-top: 35px;
        margin-bottom: 30px;
        padding-left: 2rem;
        font-weight: 700;
        font-size: 3.5rem;

        @media (max-width: 1400px) {
          font-size: 2.5rem;
          padding-left: 4rem;
        }
        @media (max-width: 800px) {
          padding-left: 5rem;
          margin-top: 20px;
        }

        @media (max-width: 575px) {
          text-align: center;
          padding-left: 0;
        }
        @media (max-width: 399px) {
          font-size: 1.7rem;
        }

        a {
          color: #013300;
          font-weight: 700;
          font-family: $primary-font;
        }
      }

      .university-logo {
        box-shadow: 2px 2px 6px gray;
        border-radius: 50%;
        // margin-right: 2rem;
        width: 140px;
        height: 140px;
        display: flex;

        img {
          width: 80px !important;
          height: 80px !important;
          margin: auto;
        }

        @media (max-width: 575px) {
          // display: block;
          margin: auto;
        }
      }
    }

    .main-content {
      // width: 90%;
      // border: 5px dotted green;

      .univ-left-content {
        .sub-title {
          font-weight: 700;
        }

        table {
          thead {
            tr {
              th {
                color: lighten($color: $cg-primary, $amount: 15%);
              }
            }
          }
        }
      }
    }

    #univ-right-col {
      // border: 5px dotted blueviolet;

      .acf-map {
        margin-bottom: 0;
        position: relative !important;
        width: 100%;
      }

      .address-block {
        box-shadow: 2px 2px 6px gray;
        padding: 2rem;
        p {
          // color: $cg-primary;
          font-size: 0.8rem;
          font-weight: 700;
          line-height: 1.5rem !important;
        }

        a {
          color: lighten($color: $cg-primary, $amount: 20%);
          font-weight: 700;
        }

        .social {
          i {
            font-size: 2.5rem;
            margin-right: 1rem;
            color: $cg-primary;
          }
        }
      }

      .button-block {
        box-shadow: 2px 2px 6px gray;
        padding: 1rem 3rem;
        margin-top: 1rem;
        background-color: $cg-secondary;
        color: white;

        i {
          font-size: 3.5rem;
          padding-bottom: 1.5rem;
        }

        h5 {
          color: white;
          font-weight: 700;
        }
      }
    }
  }

  #most-viewed-athlete {
    min-height: 400px;
    background-color: lighten($color: $cg-primary, $amount: 0%);

    .block-title {
      color: white;
      font-weight: 600;
      padding-top: 3rem;
      padding-bottom: 2rem;
    }

    .popular-athlete-list {
      // border: 3px dotted white;

      .item-list {
        list-style: none;
        display: flex;
        justify-content: space-around;

        li {
          display: inline-block;

          .item-avatar {
            width: 300px;
          }

          .item {
            text-align: center;

            .item-title {
              padding-bottom: 1rem;
              padding-top: 1rem;
              a {
                color: lighten($color: $cg-primary, $amount: 30%);
                font-size: 1.5rem;
                font-weight: 600;

                &:hover {
                  color: lighten($color: $cg-primary, $amount: 50%);
                }
              }
            }

            .item-meta {
              padding-bottom: 2rem;
              span {
                background-color: lighten($color: $cg-primary, $amount: 20%);
                color: white;
                padding: 0.5rem 1rem;
                border-radius: 30px;
              }
            }
          }
        }
      }
    }
  }
}

// REQUEST TO CONNECT MODAL

#contactCoachModal {
  .modal-content {
    // border: 1rem dotted red;
    .modal-header {
      background: linear-gradient(lighten($cg-primary, 15%), $cg-primary);
      padding: 2rem 3.5rem;

      @media (max-width: 991px) {
        padding: 0;
        padding-left: 1rem;
        // padding-top: 1rem;
      }

      .university-logo {
        box-shadow: 2px 2px 6px gray;
        border-radius: 50%;
        margin-top: 1rem;
        width: 120px;
        height: 120px;
        display: flex;
        background-color: white;

        img {
          width: 80px !important;
          height: 80px !important;
          margin: auto;
        }

        @media (max-width: 575px) {
          margin: auto;
          margin-top: 1.5rem;
        }
      }
      .entry-title {
        color: white;
        margin-top: 2.8rem;

        @media (max-width: 991px) {
          margin-top: 1.5rem;
          padding-left: 2rem;
        }
        @media (max-width: 575px) {
          text-align: center;
          padding-bottom: 1rem;
        }
      }
    }

    .modal-body {
      .gravity-form-shortcode {
        padding-left: 4rem;
        padding-right: 4rem;

        .gform_title {
          font-size: 2.2rem;
        }
        .gform_description {
          font-size: 1.2rem;
          color: gray;
        }
        input {
          padding: 1rem;
          border-radius: 10px;
        }
        textarea {
          padding: 1rem;
          margin-top: 1rem;
          border-radius: 10px;
        }
        #gform_submit_button_5 {
          width: 98%;
          background-color: $cg-primary;

          @media (max-width: 640px) {
            width: 100% !important;
          }
        }

        @media (max-width: 991px) {
          padding-left: 0;
          padding-right: 0;

          .gform_title {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
